## Ignore dependencies
**/node_modules

# Ignore build
**/build
**/dist
**/.env

# Ignore OS Metadata
**/.DS_Store

# Ignore Workspace Settings
**/.vscode
/tests/manual/index.js
/tests/manual/index.js.map
/tests/manual/index.css